html, body {
  margin: 0;
  background-color:#000000;
}
*{
    text-align:center;
  }
.header{
  opacity:0.8;
  position:fixed;
  width:100%;
  background-color:#000211;
  z-index:1000;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
li{
  color:#FFF;
  display:inline-block;
  padding:10px 60px 10px 60px;
  font-size:15;
}
.main{
  padding-top:400px;
  padding-bottom:500px;
  background-color:#000000;
  color:#FFF;
  background-image:url("images/water.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}