<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type    ='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="jQuery.js"></script>
  <link rel='stylesheet' href='style.css'/>
  <title>NWHacks 2017</title>
</head>
<body>
  <div class="header">
    <ul>
      <li>NWHACKS 2017 PROJECT:</li>
      <li>Market Gauge</li>
    </ul>
  </div>
  <div class="main">
      <div class="Apic">
        <ul>
          <li></li>
       </ul>
      </div>
  </div>
  </br>
  </br>
    <div class="input">
    <h1 class="container">   </h1>
      <div class="in">
        <ul>
          <li>URL for Optional Banner Ad (JPEG, PNG, GIF, BMP)</li>
          <li><textarea class="form-control" rows="1" cols="20" id="imgQuery"></textarea></li>
       
       </ul>
      </div>
  </div>
  <div><img src="" id="IMAGE"></div>
  <div class="input">
    <h1 class="container">   </h1>
      <div class="in">
        <ul>
          <li>Descriptive Tags (separated by spaces)</li>
          <li><textarea class="form-control" rows="1" cols="20" id="query"></textarea></li>
       </ul>
      </div>
  </div>
  <div><button type="submit" class="btn-primary" id="post">Submit</button></div>
  <div class="input">
  	<p id="chart_div" ></p>
  </div>
</body>
</html>
